#bg{
    background-image: url(images/bgbanner.png);
    background-color: black;
    background-repeat: no-repeat;
    border-radius: 20px;
    color: white;
}
.bg-nav{
    background-image: url(images/bgbanner.png);
    background-repeat: no-repeat;
    background-color: rgb(18, 23, 51);
    border-radius: 20px;
    color: white;
    background-size: cover;
}
.online{
    position: relative;
}
.online::after{
    content: "";
    width: 16px;
    height: 16px;
    border: 2px solid #fff;
    border-radius: 50%;
    background: #41db51;
    position: absolute;
    top: -2px;
    right: 0;
    bottom: 10px;

}